

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.
body {
  font-family: "Josefin Sans", "Arial", sans-serif;
  background: white;
  color: #002;
}

.decimgup img{
  width: 33.37%;
  margin-top: -22px;
  margin-right: -5px;
  
}
.decimgbottom img{
  width: 33.36%;
  min-width: 33.35%;
  
  margin-top: 130px;
  margin-right: -5px;
  margin-bottom: -20px;
  transform: rotate(180deg);
}
.title {
  width: 100%;
  position: relative;
  color: #fff;
  left: 50%;
  top: 50%;
  z-index: 10;

  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  user-select: none;
}
.buttons{
  position: relative;
  width: 0%;
  margin-top: 130px;
  left: 40%;
  align-content: center;
  float: left;
  display: flex;
  
}
.buttons button{
  width:100px;
  min-width: 100px;
  background: #891A74;
  color: white;
  height: 40px;
  border: #891A74;
  border-style: solid;
  border-radius: 5px;
  margin-right: 120px;
}.buttons a{
  width:100px;
  min-width: 100px;
  background: #891A74;
  color: white;
  height: 40px;
  border: #891A74;
  border-style: solid;
  border-radius: 5px;
  margin-right: 120px;
  text-decoration: none;
  vertical-align: middle;
  justify-content: center;
}


.AltTitle {
  width: 100%;
  position: relative;
  color: #fff;

  height: 100%;
  top: 50%;
  z-index: 10;

  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  user-select: none;
}
canvas{
  margin-top: -170;

}

h1 {
  position: relative;
  padding: 0;
  margin: 0 0 0.5rem 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 0 10px #02c, 0 0 40px #48f, 0 0 80px #8af;
}

#Welcome {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: #eee;
}


.gamedec{
  min-height: 30%;
  width: 31.3%;
  font-size: 30px;
  left: 33.3%;
  position: relative;
  top: 2%;
  color: white;
  border-width: 10px;
  border: #15151D;
  border-style: solid;
  border-radius: 5px;
  background: #15151D;
  padding: 1%;
}
.newsTab{
  height: auto;
  width: 31.3%;
  font-size: 30px;
  left: 33.3%;
  position: relative;
  top: 10%;
  color: white;
  border-width: 10px;
  border: #15151D;
  border-style: solid;
  border-radius: 5px;
  background: #15151D;
  padding: 1%;

}

.newsTab img{
  max-width: 80%;

}
.newsTab b{
  position: relative;
  font-size: 60px;
  left: 40%;
}
.newsTab h5{
  position: relative;
  font-size: 30px;
  left: 0%;
}
