
.newsTab p{
    position: relative;
    text-align: left;
    max-width: 50%;
    overflow-wrap: break-word;

}
.newsTab #bullet{
    position: relative;
    text-align: left;

    max-width: 48.5%; 
    overflow-wrap: break-word;

    
}

.newsTab #Nobullet{
    position: relative;
    text-align: left;

    max-width: 48.5%;
    list-style-type: none;
    overflow-wrap: break-word;

}

.newsTab #Dash{
    position: relative;
    text-align: left;
    max-width: 48.5%;
    list-style-type: "- ";
    overflow-wrap: break-word;

}

.newsTab img{
    position: relative;
    object-position: center;
    left: 5%;
    width: 800px;
}