
html,
body{
    background:#15151D;
    color: white;
    font-family: "Josefin Sans", "Arial", sans-serif
}

p{
    position: relative;
    text-align: left;
    max-width: 50%;
    overflow-wrap: break-word;

}
 #bullet{
    position: relative;
    text-align: left;

    max-width: 48.5%; 
    overflow-wrap: break-word;

    
}

 #Nobullet{
    position: relative;
    text-align: left;

    max-width: 48.5%;
    list-style-type: none;
    overflow-wrap: break-word;

}

 #Dash{
    position: relative;
    text-align: left;
    max-width: 48.5%;
    list-style-type: "- ";
    overflow-wrap: break-word;

}
img{
    position: relative;
    object-position: center;
    left: 5%;
    width: 800px;
}

.main{
    background: #2A2A3B;
    border: solid 1px #2A2A3B;
    border-radius: 10px;
    max-width: 70%;
    
}
.other{
    background: #2A2A3B;
    border: solid 1px #2A2A3B;
    border-radius: 10px;
    max-width: 25%;
    min-width: 25%;
    left: 74%;
    position: fixed;
}