
html,
body{
    background:#15151D;
    color: white;
    font-family: "Josefin Sans", "Arial", sans-serif
}
.buttons{
    position: relative;
    width: 100%;
    top: 60%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    
  }
  .buttons button{
    width:100px;
    min-width: 100px;
    background: #891A74;
    color: white;
    height: 40px;
    border: #891A74;
    border-style: solid;
    border-radius: 5px;
    margin-right: 15%;
  
  }
p{
    position: relative;
    text-align: left;
    max-width: 50%;
    overflow-wrap: break-word;

}
 #bullet{
    position: relative;
    text-align: left;

    max-width: 48.5%; 
    overflow-wrap: break-word;

    
}

 #Nobullet{
    position: relative;
    text-align: left;

    max-width: 48.5%;
    list-style-type: none;
    overflow-wrap: break-word;

}

 #Dash{
    position: relative;
    text-align: left;
    max-width: 48.5%;
    list-style-type: "- ";
    overflow-wrap: break-word;

}
img{
    position: relative;
    object-position: center;
    left: 5%;
    width: 70%;
}

.main{
    background: #2A2A3B;
    border: solid 1px #2A2A3B;
    border-radius: 10px;
    max-width: 70%;
    
}
.other{
    background: #2A2A3B;
    border: solid 1px #2A2A3B;
    border-radius: 10px;
    max-width: 25%;
    min-width: 25%;
    left: 74%;
    position: fixed;
}